:root {
	--color-purple-050: #EAE2F8;
	--color-purple-100: #CFBCF2;
	--color-purple-200: #A081D9;
	--color-purple-300: #8662C7;
	--color-purple-400: #724BB7;
	--color-purple-500: #653CAD;
	--color-purple-600: #51279B;
	--color-purple-700: #421987;
	--color-purple-800: #34126F;
	--color-purple-900: #240754;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: rgb(255, 255, 255);
	background-size: 100vw 100vh;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('../lib/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../lib/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../lib/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

* {
    font-family: 'JetBrainsMono', 'Montserrat', 'Montserrat-Bold';
}
